# Ignore configuration files that may contain sensitive information.
/baseurl.php
/*settings.php
/*config.php
/files
/private
/themes/landportal/scss/.sass-cache/

# Ignore backup & temp files
*~
.DS_Store
\#*
