/* Landportal SCSS: Variables */

/* Colors */
$grey:          #333333;
$grey-light:    #666666;
$black:         #000000;
$white:         #ffffff;

$green:         #8fcd1f;

$blue:          #0165C3;
$blue-light:    #428bca;
$blue-dark:     #2a6496;

$yellow:        #e3ab03;
$yellow-light:  #f1db11;

$status-red:    #fe2e2e;
$status-green:  #01df3a;

/* Text */
$text-color:    #333333;


$green-dark:    rgba(86,131,9,0.8);