/* user menu feature css */
#block-nice-menus-1
{float:right;}
#block-nice-menus-1 li.menuparent, #block-nice-menus-1 li.menu-path-admin-mailchimp-user-lists, #block-nice-menus-1 li.menu-path-user-logout,#block-nice-menus-1 li.menu-path-node-add
{border:none;background:none;font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;}
#block-nice-menus-1 li.menuparent a, #block-nice-menus-1 li.menu-path-admin-mailchimp-user-lists a, #block-nice-menus-1 li.menu-path-user-logout a, #block-nice-menus-1 li.menu-path-node-add a
{padding:0 5px 0.3em 5px;}


