/* user menu feature css */
#block-nice-menus-1{
float:right;}
#block-nice-menus-1 ul > li a
{text-decoration:none;}
#block-nice-menus-1 ul > li > ul > li a:hover
{text-decoration:underline;}
#block-nice-menus-1 li.menu-path-user, #block-nice-menus-1 li.menu-path-user-login,#block-nice-menus-1 li.menu-5819, #block-nice-menus-1 li.menu-path-user-logout{
border:none;background:none;	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;}
#block-nice-menus-1 li.menu-path-user a, #block-nice-menus-1 li.menu-path-user-login a,#block-nice-menus-1 li.menu-5819 a, #block-nice-menus-1 li.menu-path-user-logout a{
padding:0 5px 0.3em 5px;}
#block-nice-menus-1 li.menu-path-user-login > a:before, #block-nice-menus-1 li.menu-path-user > a:before {
font-family: FontAwesome;	content: "\f007";	font-size: 1.2em;	margin-right: .5em;}
#block-nice-menus-1 li.menu-path-user-login > a:before, #block-nice-menus-1 li.menu-path-user > a:before {
font-family: FontAwesome;	content: "\f007";   font-size: 1.2em;   margin-right: .5em;	vertical-align: middle;}
#block-nice-menus-1 li.menu-path-user-logout > a:before {
font-family: FontAwesome;	content: "\f08b";   font-size: 1.2em;   margin-right: .5em;	vertical-align: middle;}
#block-nice-menus-1 li.menu-5819 > a:before {
font-family: FontAwesome;	content: "\f016";   font-size: 1.2em;   margin-right: .5em;	vertical-align: middle;}