/*****************************************

Landportal Stylesheet

For: Landportal Drupal theme
Author: Jules Clement <jules@ker.bz>
Original design by: WESO (http://weso.es/)

*****************************************/
/******************** IMPORT: Partials
Variables & function for SASS files
*/
/* Landportal SCSS: Variables */
/* Colors */
/* Text */
/* Landportal SCSS: Normalization */
/* line 4, ../scss/partials/_normalize.scss */
a {
  color: #2a6496;
}

/******************** IMPORT: Modules
Common Elements to the website such as:
buttons, forms, menus...
*/
/* line 1, ../scss/modules/_landbook.scss */
.graph-medium {
  min-height: 22em;
}

/* line 4, ../scss/modules/_landbook.scss */
.graph-large {
  min-height: 25em;
}

/* line 8, ../scss/modules/_landbook.scss */
#map {
  height: 600px;
  width: 800px;
}

/* line 12, ../scss/modules/_landbook.scss */
.map-medium {
  height: 400px;
  width: 600px;
}

/* line 16, ../scss/modules/_landbook.scss */
#map-container {
  height: 600px;
  width: 800px;
}

/* line 21, ../scss/modules/_landbook.scss */
.hidden {
  display: none !important;
  visibility: hidden !important;
}

/* line 25, ../scss/modules/_landbook.scss */
#country-map,
#world-map {
  width: 200px;
}

/* TMP stuff */
/* line 32, ../scss/modules/_landbook.scss */
.col-sm-3 {
  width: 20%;
  float: left;
}

/* line 36, ../scss/modules/_landbook.scss */
.col-sm-6 {
  float: left;
  width: 55%;
}
/* line 39, ../scss/modules/_landbook.scss */
.col-sm-6 h2 {
  clear: none;
}

/* Landportal SCSS: menus */
/* line 3, ../scss/modules/_menus.scss */
#header ul.menu {
  margin: 0;
  padding: 0;
}
/* line 7, ../scss/modules/_menus.scss */
#header ul.menu li {
  padding: 0;
  float: left;
  list-style-type: none;
  list-style-image: none;
}
/* line 13, ../scss/modules/_menus.scss */
#header ul.menu li a {
  text-decoration: none;
}
/* line 17, ../scss/modules/_menus.scss */
#header ul.menu li:before {
  content: "| ";
}
/* line 20, ../scss/modules/_menus.scss */
#header ul.menu li:first-of-type:before {
  content: "";
}

/******************** IMPORT: Screens
Base and specialized sizes for devices
*/
/* Landportal SCSS: Base size and positionning */
/* line 2, ../scss/screens/_base.scss */
body {
  color: #222222;
  margin: 0;
  font-family: sans-serif;
  font-size: 0.9em;
}

/* line 9, ../scss/screens/_base.scss */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  text-rendering: optimizelegibility;
  clear: both;
}
/* line 12, ../scss/screens/_base.scss */
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  text-decoration: none;
}

/* line 17, ../scss/screens/_base.scss */
#logo {
  float: left;
}

/* line 24, ../scss/screens/_base.scss */
#header {
  border-bottom: 0.36em solid #8fcd1f;
}
/* line 27, ../scss/screens/_base.scss */
#header .block-menu h2 {
  display: none;
}
/* line 30, ../scss/screens/_base.scss */
#header .block-menu .contextual-links-wrapper {
  display: none;
}
/* line 35, ../scss/screens/_base.scss */
#header #block-system-user-menu {
  float: right;
}

/* line 40, ../scss/screens/_base.scss */
#footer {
  border-top: 1px solid #333333;
  height: 100px;
  margin-top: 5px;
}

/* line 46, ../scss/screens/_base.scss */
#header,
#footer {
  padding: 5px 5em;
  height: 35px;
}

/* line 57, ../scss/screens/_base.scss */
#highlighted .block-menu {
  width: 100%;
  background-color: #EEE;
  /* li { */
  /*     float: left; */
  /*     width: 20%; */
  /* } */
  /* li.last { */
  /*     clear: right; */
  /* } */
}

/* line 70, ../scss/screens/_base.scss */
#breadcrumb {
  clear: both;
}

/* line 73, ../scss/screens/_base.scss */
#main-content {
  width: 100%;
  clear: both;
}

/* line 75, ../scss/screens/_base.scss */
.clearfix {
  clear: both;
}

/* line 80, ../scss/screens/_base.scss */
#sidebar-first {
  float: left;
}

/* line 84, ../scss/screens/_base.scss */
#sidebar-second {
  float: right;
}

/* line 88, ../scss/screens/_base.scss */
.view-content {
  clear: both;
}

/*# sourceMappingURL=style.css.map */
