/*****************************************

Landportal Stylesheet

For: Landportal Drupal theme
Author: Jules Clement <jules@ker.bz>
Original design by: WESO (http://weso.es/)

*****************************************/
/******************** IMPORT: Partials
Variables & function for SASS files
*/
/* Landportal SCSS: Variables */
/* Colors */
/* Text */
/* Landportal SCSS: Normalization */
/* line 4, ../scss/partials/_normalize.scss */
a {
  color: #2a6496;
}

/******************** IMPORT: Modules
Common Elements to the website such as:
buttons, forms, menus...
*/
/* line 2, ../scss/modules/_debate.scss */
.field-name-body h1,
.field-name-body h2,
.field-name-body h3,
.field-name-body h4,
.field-name-body h5 {
  clear: none;
}

/* line 9, ../scss/modules/_debate.scss */
.field-name-body h1 {
  font-size: 2em;
}

/* line 10, ../scss/modules/_debate.scss */
.field-name-body h2 {
  font-size: 1.8em;
}

/* line 11, ../scss/modules/_debate.scss */
.field-name-body h3 {
  font-size: 1.5em;
}

/* line 12, ../scss/modules/_debate.scss */
.field-name-body h4 {
  font-size: 1.2em;
}

/* line 17, ../scss/modules/_debate.scss */
.page-debate-debates .submitted,
.page-debate-events .submitted,
.page-debate-community .submitted {
  display: none;
  visibility: hidden;
}

/* line 24, ../scss/modules/_debate.scss */
.page-debate-community .node-organization.node-teaser {
  width: 33%;
  float: left;
  position: relative;
  text-align: center;
  margin: 1em 0 2em 0;
}
/* line 31, ../scss/modules/_debate.scss */
.page-debate-community .node-organization.node-teaser .views-row:nth-child(3n+3) {
  clear: left;
}
/* line 35, ../scss/modules/_debate.scss */
.page-debate-community .node-organization.node-teaser h2 {
  margin-top: 1em;
  width: 100%;
  text-align: center;
}
/* line 40, ../scss/modules/_debate.scss */
.page-debate-community .node-organization.node-teaser .content-info {
  min-height: 200px;
}
/* line 43, ../scss/modules/_debate.scss */
.page-debate-community .node-organization.node-teaser img {
  min-width: 200px;
}

/* line 57, ../scss/modules/_debate.scss */
.node-type-debate .view-content,
.node-type-event .view-content,
.node-type-news .view-content,
.page-debate-news .view-content,
.page-debate-blog .view-content,
.page-debate-events .view-content,
.page-debate-debates .view-content {
  padding: 0 2em 0 0;
}
/* line 60, ../scss/modules/_debate.scss */
.node-type-debate .views-row,
.node-type-event .views-row,
.node-type-news .views-row,
.page-debate-news .views-row,
.page-debate-blog .views-row,
.page-debate-events .views-row,
.page-debate-debates .views-row {
  border-bottom: 1px dotted #666666;
}
/* line 64, ../scss/modules/_debate.scss */
.node-type-debate .node,
.node-type-event .node,
.node-type-news .node,
.page-debate-news .node,
.page-debate-blog .node,
.page-debate-events .node,
.page-debate-debates .node {
  margin: 2em 0;
}
/* line 66, ../scss/modules/_debate.scss */
.node-type-debate .node h2,
.node-type-event .node h2,
.node-type-news .node h2,
.page-debate-news .node h2,
.page-debate-blog .node h2,
.page-debate-events .node h2,
.page-debate-debates .node h2 {
  font-size: 1.8em;
}
/* line 69, ../scss/modules/_debate.scss */
.node-type-debate .node .field-items:after,
.node-type-event .node .field-items:after,
.node-type-news .node .field-items:after,
.page-debate-news .node .field-items:after,
.page-debate-blog .node .field-items:after,
.page-debate-events .node .field-items:after,
.page-debate-debates .node .field-items:after {
  content: "";
  display: block;
  float: none;
  clear: both;
}
/* line 70, ../scss/modules/_debate.scss */
.node-type-debate .node .field,
.node-type-event .node .field,
.node-type-news .node .field,
.page-debate-news .node .field,
.page-debate-blog .node .field,
.page-debate-events .node .field,
.page-debate-debates .node .field {
  margin: 0 0 .5em;
}
/* line 72, ../scss/modules/_debate.scss */
.node-type-debate .node .field:last-of-type,
.node-type-event .node .field:last-of-type,
.node-type-news .node .field:last-of-type,
.page-debate-news .node .field:last-of-type,
.page-debate-blog .node .field:last-of-type,
.page-debate-events .node .field:last-of-type,
.page-debate-debates .node .field:last-of-type {
  margin: 0;
}
/* line 74, ../scss/modules/_debate.scss */
.node-type-debate .node .content,
.node-type-event .node .content,
.node-type-news .node .content,
.page-debate-news .node .content,
.page-debate-blog .node .content,
.page-debate-events .node .content,
.page-debate-debates .node .content {
  float: left;
  width: 75%;
  padding: 0 0 0 2em;
}
/* line 79, ../scss/modules/_debate.scss */
.node-type-debate .node .content p,
.node-type-event .node .content p,
.node-type-news .node .content p,
.page-debate-news .node .content p,
.page-debate-blog .node .content p,
.page-debate-events .node .content p,
.page-debate-debates .node .content p {
  text-align: justify;
}
/* line 83, ../scss/modules/_debate.scss */
.node-type-debate .node .content-info,
.node-type-event .node .content-info,
.node-type-news .node .content-info,
.page-debate-news .node .content-info,
.page-debate-blog .node .content-info,
.page-debate-events .node .content-info,
.page-debate-debates .node .content-info {
  text-align: center;
  float: left;
  width: 25%;
}
/* line 88, ../scss/modules/_debate.scss */
.node-type-debate .node .content-info img,
.node-type-event .node .content-info img,
.node-type-news .node .content-info img,
.page-debate-news .node .content-info img,
.page-debate-blog .node .content-info img,
.page-debate-events .node .content-info img,
.page-debate-debates .node .content-info img {
  width: 100%;
  height: auto;
}
/* line 92, ../scss/modules/_debate.scss */
.node-type-debate .node .content-info .field-label,
.node-type-event .node .content-info .field-label,
.node-type-news .node .content-info .field-label,
.page-debate-news .node .content-info .field-label,
.page-debate-blog .node .content-info .field-label,
.page-debate-events .node .content-info .field-label,
.page-debate-debates .node .content-info .field-label {
  font-family: 'News Cycle',sans-serif;
  margin-bottom: .5em;
  text-transform: uppercase;
  color: #666666;
  position: relative;
}
/* line 98, ../scss/modules/_debate.scss */
.node-type-debate .node .content-info .field-label:before,
.node-type-event .node .content-info .field-label:before,
.node-type-news .node .content-info .field-label:before,
.page-debate-news .node .content-info .field-label:before,
.page-debate-blog .node .content-info .field-label:before,
.page-debate-events .node .content-info .field-label:before,
.page-debate-debates .node .content-info .field-label:before {
  width: 100%;
  left: 0;
  top: .6em;
  content: "";
  position: absolute;
  border-top: 1px solid #666666;
  z-index: -1;
}
/* line 107, ../scss/modules/_debate.scss */
.node-type-debate .node .content-info .field-label span,
.node-type-event .node .content-info .field-label span,
.node-type-news .node .content-info .field-label span,
.page-debate-news .node .content-info .field-label span,
.page-debate-blog .node .content-info .field-label span,
.page-debate-events .node .content-info .field-label span,
.page-debate-debates .node .content-info .field-label span {
  font-size: 0.9em;
  color: #666666;
  font-weight: normal;
  padding: 0 1em;
  background-color: #FFF;
}
/* line 116, ../scss/modules/_debate.scss */
.node-type-debate .node ul.links.inline li,
.node-type-event .node ul.links.inline li,
.node-type-news .node ul.links.inline li,
.page-debate-news .node ul.links.inline li,
.page-debate-blog .node ul.links.inline li,
.page-debate-events .node ul.links.inline li,
.page-debate-debates .node ul.links.inline li {
  float: right;
  font-style: italic;
}
/* line 119, ../scss/modules/_debate.scss */
.node-type-debate .node ul.links.inline li.comment-add,
.node-type-event .node ul.links.inline li.comment-add,
.node-type-news .node ul.links.inline li.comment-add,
.page-debate-news .node ul.links.inline li.comment-add,
.page-debate-blog .node ul.links.inline li.comment-add,
.page-debate-events .node ul.links.inline li.comment-add,
.page-debate-debates .node ul.links.inline li.comment-add {
  display: none;
  visibility: hidden;
}

/* line 129, ../scss/modules/_debate.scss */
.page-debate-events .views-row,
.page-debate-blog .views-row {
  border-bottom: 0;
  width: 48%;
  float: left;
  margin: 0 1%;
}

/* line 138, ../scss/modules/_debate.scss */
.page-debate-events .views-row-odd {
  clear: left;
}

/* line 142, ../scss/modules/_debate.scss */
.page-debate-blog .views-row:first-of-type {
  border-bottom: 1px dotted #666666;
  margin: 0;
  width: 100%;
}
/* line 147, ../scss/modules/_debate.scss */
.page-debate-blog .views-row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 158, ../scss/modules/_debate.scss */
.node-debate .content-info .field-name-field-facilitators > .field-items > .field-item {
  border-bottom: 1px dotted #666666;
}
/* line 160, ../scss/modules/_debate.scss */
.node-debate .content-info .field-name-field-facilitators > .field-items > .field-item:last-of-type {
  border-bottom: 0;
}
/* line 164, ../scss/modules/_debate.scss */
.node-debate .content-info .field-name-field-facilitators .profile,
.node-debate .content-info .field-name-field-facilitators .user-profile {
  margin: .5em 0;
}
/* line 167, ../scss/modules/_debate.scss */
.node-debate .content-info .field-name-field-facilitators .profile:after,
.node-debate .content-info .field-name-field-facilitators .user-profile:after {
  content: "";
  display: table;
  clear: both;
}
/* line 172, ../scss/modules/_debate.scss */
.node-debate .content-info .field-name-field-facilitators .profile .user-picture,
.node-debate .content-info .field-name-field-facilitators .user-profile .user-picture {
  float: left;
}
/* line 175, ../scss/modules/_debate.scss */
.node-debate .content-info .field-name-field-facilitators .profile .field-name-field-organization,
.node-debate .content-info .field-name-field-facilitators .user-profile .field-name-field-organization {
  font-size: .8em;
  padding: 0;
}
/* line 181, ../scss/modules/_debate.scss */
.node-debate .content-info .field-name-field-facilitators .field {
  float: left;
  padding: 0 .4em 0 0;
  margin: 0;
}

/* line 4, ../scss/modules/_buttons.scss */
.field-name-field-related-topics .field-item,
.field-name-field-geographical-focus .field-item,
.field-name-field-status .field-item {
  margin: .2em;
  padding: 0.2em 0.5em;
  border-radius: .25em;
  color: white;
  background-color: #428bca;
  float: left;
}
/* line 11, ../scss/modules/_buttons.scss */
.field-name-field-related-topics .field-item a,
.field-name-field-geographical-focus .field-item a,
.field-name-field-status .field-item a {
  color: white;
}

/* line 15, ../scss/modules/_buttons.scss */
.field-name-field-status .field-item {
  margin: 1.5em 0;
  padding: .5em;
}

/* line 19, ../scss/modules/_buttons.scss */
.field-name-field-status .field-item {
  float: none;
  border: 1px solid #666666;
}
/* line 22, ../scss/modules/_buttons.scss */
.field-name-field-status .field-item .field-item[content="Closed"] {
  background-color: #fe2e2e;
}

/* line 1, ../scss/modules/_flags.scss */
img.flag {
  border: 0.03em solid #ccc;
  width: 0.9em;
  height: 0.9em;
  background-color: #fff;
  vertical-align: top;
  margin-top: 0.25em;
}

/* line 10, ../scss/modules/_flags.scss */
span.flag img.flag {
  margin-right: 0.2em;
}

/* line 14, ../scss/modules/_flags.scss */
.countries img.flag {
  width: 2em;
  height: 2em;
  margin-top: 0;
  margin-right: 1em;
  border: 0.1em solid #ccc;
  vertical-align: middle;
  background-size: 100%;
}

/* line 24, ../scss/modules/_flags.scss */
.table img.flag {
  width: 1.5em;
  height: 1.5em;
  margin-right: 1em;
}

/* line 30, ../scss/modules/_flags.scss */
.flag-ABW, .flag-AFG, .flag-AGO, .flag-AIA, .flag-ALB,
.flag-AND, .flag-ARE, .flag-ARG, .flag-ARM, .flag-ASM,
.flag-ATA, .flag-ATC, .flag-ATF, .flag-ATG, .flag-AUS,
.flag-AUT, .flag-AZE, .flag-BDI, .flag-BEL, .flag-BEN,
.flag-BES, .flag-BFA, .flag-BGD, .flag-BGR, .flag-BHR,
.flag-BHS, .flag-BIH, .flag-BLM, .flag-BLR, .flag-BLZ,
.flag-BMU, .flag-BOL, .flag-BRA, .flag-BRB, .flag-BRN,
.flag-BTN, .flag-BWA, .flag-CAF, .flag-CAN, .flag-CHE,
.flag-CHL, .flag-CHN, .flag-CIV, .flag-CMR, .flag-COD,
.flag-COG, .flag-COK, .flag-COL, .flag-COM, .flag-CPV,
.flag-CRI, .flag-CUB, .flag-CUW, .flag-CYM, .flag-CYN,
.flag-CYP, .flag-CZE, .flag-DEU, .flag-DJI, .flag-DMA,
.flag-DNK, .flag-DOM, .flag-DZA, .flag-ECU, .flag-EGY,
.flag-ERI, .flag-ESP, .flag-EST, .flag-ETH, .flag-FIN,
.flag-FJI, .flag-FLK, .flag-FRA, .flag-FRO, .flag-FSM,
.flag-GAB, .flag-GBR, .flag-GEO, .flag-GGY, .flag-GHA,
.flag-GIB, .flag-GIN, .flag-GLP, .flag-GMB, .flag-GNB,
.flag-GNQ, .flag-GRC, .flag-GRD, .flag-GRL, .flag-GTM,
.flag-GUF, .flag-GUM, .flag-GUY, .flag-HMD, .flag-HND,
.flag-HRV, .flag-HTI, .flag-HUN, .flag-IDN, .flag-IMN,
.flag-IND, .flag-IOA, .flag-IOT, .flag-IRL, .flag-IRN,
.flag-IRQ, .flag-ISL, .flag-ISR, .flag-ITA, .flag-JAM,
.flag-JEY, .flag-JOR, .flag-JPN, .flag-KAS, .flag-KAZ,
.flag-KEN, .flag-KGZ, .flag-KHM, .flag-KIR, .flag-KNA,
.flag-KOR, .flag-KOS, .flag-KWT, .flag-LAO, .flag-LBN,
.flag-LBR, .flag-LBY, .flag-LCA, .flag-LIE, .flag-LKA,
.flag-LSO, .flag-LTU, .flag-LUX, .flag-LVA, .flag-MAF,
.flag-MAR, .flag-MCO, .flag-MDA, .flag-MDG, .flag-MDV,
.flag-MEX, .flag-MHL, .flag-MKD, .flag-MLI, .flag-MLT,
.flag-MMR, .flag-MNE, .flag-MNG, .flag-MNP, .flag-MOZ,
.flag-MRT, .flag-MSR, .flag-MUS, .flag-MWI, .flag-MYS,
.flag-NAM, .flag-NCL, .flag-NER, .flag-NFK, .flag-NGA,
.flag-NIC, .flag-NIU, .flag-NLD, .flag-NOR, .flag-NPL,
.flag-NRU, .flag-NZL, .flag-OMN, .flag-PAK, .flag-PAN,
.flag-PCN, .flag-PER, .flag-PHL, .flag-PLW, .flag-PNG,
.flag-POL, .flag-PRI, .flag-PRK, .flag-PRT, .flag-PRY,
.flag-PSX, .flag-PYF, .flag-QAT, .flag-ROU, .flag-RUS,
.flag-RWA, .flag-SAH, .flag-SAU, .flag-SDN, .flag-SEN,
.flag-SGP, .flag-SGS, .flag-SHN, .flag-SLB, .flag-SLE,
.flag-SLV, .flag-SMR, .flag-SOM, .flag-SPM, .flag-SRB,
.flag-SSD, .flag-STP, .flag-SUR, .flag-SVK, .flag-SVN,
.flag-SWE, .flag-SWZ, .flag-SXM, .flag-SYC, .flag-SYR,
.flag-TCA, .flag-TCD, .flag-TGO, .flag-THA, .flag-TJK,
.flag-TKL, .flag-TKM, .flag-TLS, .flag-TON, .flag-TTO,
.flag-TUN, .flag-TUR, .flag-TWN, .flag-TZA, .flag-UGA,
.flag-UKR, .flag-URY, .flag-USA, .flag-UZB, .flag-VAT,
.flag-VCT, .flag-VEN, .flag-VGB, .flag-VIR, .flag-VNM,
.flag-VUT, .flag-WLF, .flag-WSM, .flag-YEM, .flag-ZAF,
.flag-ZMB, .flag-ZWE, .flag-NO-FLAG {
  max-width: 100%;
  background-size: 100%;
  background-image: url("../images/flags.png");
}

/* line 84, ../scss/modules/_flags.scss */
.flag-ABW {
  background-position: 0 0%;
  background-size: 100%;
}

/* line 85, ../scss/modules/_flags.scss */
.flag-AFG {
  background-position: 0 0.413223%;
  background-size: 100%;
}

/* line 86, ../scss/modules/_flags.scss */
.flag-AGO {
  background-position: 0 0.826446%;
  background-size: 100%;
}

/* line 87, ../scss/modules/_flags.scss */
.flag-AIA {
  background-position: 0 1.239669%;
  background-size: 100%;
}

/* line 88, ../scss/modules/_flags.scss */
.flag-ALB {
  background-position: 0 1.652893%;
  background-size: 100%;
}

/* line 89, ../scss/modules/_flags.scss */
.flag-AND {
  background-position: 0 2.066116%;
  background-size: 100%;
}

/* line 90, ../scss/modules/_flags.scss */
.flag-ARE {
  background-position: 0 2.479339%;
  background-size: 100%;
}

/* line 91, ../scss/modules/_flags.scss */
.flag-ARG {
  background-position: 0 2.892562%;
  background-size: 100%;
}

/* line 92, ../scss/modules/_flags.scss */
.flag-ARM {
  background-position: 0 3.305785%;
  background-size: 100%;
}

/* line 93, ../scss/modules/_flags.scss */
.flag-ASM {
  background-position: 0 3.719008%;
  background-size: 100%;
}

/* line 94, ../scss/modules/_flags.scss */
.flag-ATA {
  background-position: 0 4.132231%;
  background-size: 100%;
}

/* line 95, ../scss/modules/_flags.scss */
.flag-ATC {
  background-position: 0 4.545455%;
  background-size: 100%;
}

/* line 96, ../scss/modules/_flags.scss */
.flag-ATF {
  background-position: 0 4.958678%;
  background-size: 100%;
}

/* line 97, ../scss/modules/_flags.scss */
.flag-ATG {
  background-position: 0 5.371901%;
  background-size: 100%;
}

/* line 98, ../scss/modules/_flags.scss */
.flag-AUS {
  background-position: 0 5.785124%;
  background-size: 100%;
}

/* line 99, ../scss/modules/_flags.scss */
.flag-AUT {
  background-position: 0 6.198347%;
  background-size: 100%;
}

/* line 100, ../scss/modules/_flags.scss */
.flag-AZE {
  background-position: 0 6.61157%;
  background-size: 100%;
}

/* line 101, ../scss/modules/_flags.scss */
.flag-BDI {
  background-position: 0 7.024793%;
  background-size: 100%;
}

/* line 102, ../scss/modules/_flags.scss */
.flag-BEL {
  background-position: 0 7.438017%;
  background-size: 100%;
}

/* line 103, ../scss/modules/_flags.scss */
.flag-BEN {
  background-position: 0 7.85124%;
  background-size: 100%;
}

/* line 104, ../scss/modules/_flags.scss */
.flag-BES {
  background-position: 0 8.264463%;
  background-size: 100%;
}

/* line 105, ../scss/modules/_flags.scss */
.flag-BFA {
  background-position: 0 8.677686%;
  background-size: 100%;
}

/* line 106, ../scss/modules/_flags.scss */
.flag-BGD {
  background-position: 0 9.090909%;
  background-size: 100%;
}

/* line 107, ../scss/modules/_flags.scss */
.flag-BGR {
  background-position: 0 9.504132%;
  background-size: 100%;
}

/* line 108, ../scss/modules/_flags.scss */
.flag-BHR {
  background-position: 0 9.917355%;
  background-size: 100%;
}

/* line 109, ../scss/modules/_flags.scss */
.flag-BHS {
  background-position: 0 10.330579%;
  background-size: 100%;
}

/* line 110, ../scss/modules/_flags.scss */
.flag-BIH {
  background-position: 0 10.743802%;
  background-size: 100%;
}

/* line 111, ../scss/modules/_flags.scss */
.flag-BLM {
  background-position: 0 11.157025%;
  background-size: 100%;
}

/* line 112, ../scss/modules/_flags.scss */
.flag-BLR {
  background-position: 0 11.570248%;
  background-size: 100%;
}

/* line 113, ../scss/modules/_flags.scss */
.flag-BLZ {
  background-position: 0 11.983471%;
  background-size: 100%;
}

/* line 114, ../scss/modules/_flags.scss */
.flag-BMU {
  background-position: 0 12.396694%;
  background-size: 100%;
}

/* line 115, ../scss/modules/_flags.scss */
.flag-BOL {
  background-position: 0 12.809917%;
  background-size: 100%;
}

/* line 116, ../scss/modules/_flags.scss */
.flag-BRA {
  background-position: 0 13.22314%;
  background-size: 100%;
}

/* line 117, ../scss/modules/_flags.scss */
.flag-BRB {
  background-position: 0 13.636364%;
  background-size: 100%;
}

/* line 118, ../scss/modules/_flags.scss */
.flag-BRN {
  background-position: 0 14.049587%;
  background-size: 100%;
}

/* line 119, ../scss/modules/_flags.scss */
.flag-BTN {
  background-position: 0 14.46281%;
  background-size: 100%;
}

/* line 120, ../scss/modules/_flags.scss */
.flag-BWA {
  background-position: 0 14.876033%;
  background-size: 100%;
}

/* line 121, ../scss/modules/_flags.scss */
.flag-CAF {
  background-position: 0 15.289256%;
  background-size: 100%;
}

/* line 122, ../scss/modules/_flags.scss */
.flag-CAN {
  background-position: 0 15.702479%;
  background-size: 100%;
}

/* line 123, ../scss/modules/_flags.scss */
.flag-CHE {
  background-position: 0 16.115702%;
  background-size: 100%;
}

/* line 124, ../scss/modules/_flags.scss */
.flag-CHL {
  background-position: 0 16.528926%;
  background-size: 100%;
}

/* line 125, ../scss/modules/_flags.scss */
.flag-CHN {
  background-position: 0 16.942149%;
  background-size: 100%;
}

/* line 126, ../scss/modules/_flags.scss */
.flag-CIV {
  background-position: 0 17.355372%;
  background-size: 100%;
}

/* line 127, ../scss/modules/_flags.scss */
.flag-CMR {
  background-position: 0 17.768595%;
  background-size: 100%;
}

/* line 128, ../scss/modules/_flags.scss */
.flag-COD {
  background-position: 0 18.181818%;
  background-size: 100%;
}

/* line 129, ../scss/modules/_flags.scss */
.flag-COG {
  background-position: 0 18.595041%;
  background-size: 100%;
}

/* line 130, ../scss/modules/_flags.scss */
.flag-COK {
  background-position: 0 19.008264%;
  background-size: 100%;
}

/* line 131, ../scss/modules/_flags.scss */
.flag-COL {
  background-position: 0 19.421488%;
  background-size: 100%;
}

/* line 132, ../scss/modules/_flags.scss */
.flag-COM {
  background-position: 0 19.834711%;
  background-size: 100%;
}

/* line 133, ../scss/modules/_flags.scss */
.flag-CPV {
  background-position: 0 20.247934%;
  background-size: 100%;
}

/* line 134, ../scss/modules/_flags.scss */
.flag-CRI {
  background-position: 0 20.661157%;
  background-size: 100%;
}

/* line 135, ../scss/modules/_flags.scss */
.flag-CUB {
  background-position: 0 21.07438%;
  background-size: 100%;
}

/* line 136, ../scss/modules/_flags.scss */
.flag-CUW {
  background-position: 0 21.487603%;
  background-size: 100%;
}

/* line 137, ../scss/modules/_flags.scss */
.flag-CYM {
  background-position: 0 21.900826%;
  background-size: 100%;
}

/* line 138, ../scss/modules/_flags.scss */
.flag-CYN {
  background-position: 0 22.31405%;
  background-size: 100%;
}

/* line 139, ../scss/modules/_flags.scss */
.flag-CYP {
  background-position: 0 22.727273%;
  background-size: 100%;
}

/* line 140, ../scss/modules/_flags.scss */
.flag-CZE {
  background-position: 0 23.140496%;
  background-size: 100%;
}

/* line 141, ../scss/modules/_flags.scss */
.flag-DEU {
  background-position: 0 23.553719%;
  background-size: 100%;
}

/* line 142, ../scss/modules/_flags.scss */
.flag-DJI {
  background-position: 0 23.966942%;
  background-size: 100%;
}

/* line 143, ../scss/modules/_flags.scss */
.flag-DMA {
  background-position: 0 24.380165%;
  background-size: 100%;
}

/* line 144, ../scss/modules/_flags.scss */
.flag-DNK {
  background-position: 0 24.793388%;
  background-size: 100%;
}

/* line 145, ../scss/modules/_flags.scss */
.flag-DOM {
  background-position: 0 25.206612%;
  background-size: 100%;
}

/* line 146, ../scss/modules/_flags.scss */
.flag-DZA {
  background-position: 0 25.619835%;
  background-size: 100%;
}

/* line 147, ../scss/modules/_flags.scss */
.flag-ECU {
  background-position: 0 26.033058%;
  background-size: 100%;
}

/* line 148, ../scss/modules/_flags.scss */
.flag-EGY {
  background-position: 0 26.446281%;
  background-size: 100%;
}

/* line 149, ../scss/modules/_flags.scss */
.flag-ERI {
  background-position: 0 26.859504%;
  background-size: 100%;
}

/* line 150, ../scss/modules/_flags.scss */
.flag-ESP {
  background-position: 0 27.272727%;
  background-size: 100%;
}

/* line 151, ../scss/modules/_flags.scss */
.flag-EST {
  background-position: 0 27.68595%;
  background-size: 100%;
}

/* line 152, ../scss/modules/_flags.scss */
.flag-ETH {
  background-position: 0 28.099174%;
  background-size: 100%;
}

/* line 153, ../scss/modules/_flags.scss */
.flag-FIN {
  background-position: 0 28.512397%;
  background-size: 100%;
}

/* line 154, ../scss/modules/_flags.scss */
.flag-FJI {
  background-position: 0 28.92562%;
  background-size: 100%;
}

/* line 155, ../scss/modules/_flags.scss */
.flag-FLK {
  background-position: 0 29.338843%;
  background-size: 100%;
}

/* line 156, ../scss/modules/_flags.scss */
.flag-FRA {
  background-position: 0 29.752066%;
  background-size: 100%;
}

/* line 157, ../scss/modules/_flags.scss */
.flag-FRO {
  background-position: 0 30.165289%;
  background-size: 100%;
}

/* line 158, ../scss/modules/_flags.scss */
.flag-FSM {
  background-position: 0 30.578512%;
  background-size: 100%;
}

/* line 159, ../scss/modules/_flags.scss */
.flag-GAB {
  background-position: 0 30.991736%;
  background-size: 100%;
}

/* line 160, ../scss/modules/_flags.scss */
.flag-GBR {
  background-position: 0 31.404959%;
  background-size: 100%;
}

/* line 161, ../scss/modules/_flags.scss */
.flag-GEO {
  background-position: 0 31.818182%;
  background-size: 100%;
}

/* line 162, ../scss/modules/_flags.scss */
.flag-GGY {
  background-position: 0 32.231405%;
  background-size: 100%;
}

/* line 163, ../scss/modules/_flags.scss */
.flag-GHA {
  background-position: 0 32.644628%;
  background-size: 100%;
}

/* line 164, ../scss/modules/_flags.scss */
.flag-GIB {
  background-position: 0 33.057851%;
  background-size: 100%;
}

/* line 165, ../scss/modules/_flags.scss */
.flag-GIN {
  background-position: 0 33.471074%;
  background-size: 100%;
}

/* line 166, ../scss/modules/_flags.scss */
.flag-GLP {
  background-position: 0 33.884298%;
  background-size: 100%;
}

/* line 167, ../scss/modules/_flags.scss */
.flag-GMB {
  background-position: 0 34.297521%;
  background-size: 100%;
}

/* line 168, ../scss/modules/_flags.scss */
.flag-GNB {
  background-position: 0 34.710744%;
  background-size: 100%;
}

/* line 169, ../scss/modules/_flags.scss */
.flag-GNQ {
  background-position: 0 35.123967%;
  background-size: 100%;
}

/* line 170, ../scss/modules/_flags.scss */
.flag-GRC {
  background-position: 0 35.53719%;
  background-size: 100%;
}

/* line 171, ../scss/modules/_flags.scss */
.flag-GRD {
  background-position: 0 35.950413%;
  background-size: 100%;
}

/* line 172, ../scss/modules/_flags.scss */
.flag-GRL {
  background-position: 0 36.363636%;
  background-size: 100%;
}

/* line 173, ../scss/modules/_flags.scss */
.flag-GTM {
  background-position: 0 36.77686%;
  background-size: 100%;
}

/* line 174, ../scss/modules/_flags.scss */
.flag-GUF {
  background-position: 0 37.190083%;
  background-size: 100%;
}

/* line 175, ../scss/modules/_flags.scss */
.flag-GUM {
  background-position: 0 37.603306%;
  background-size: 100%;
}

/* line 176, ../scss/modules/_flags.scss */
.flag-GUY {
  background-position: 0 38.016529%;
  background-size: 100%;
}

/* line 177, ../scss/modules/_flags.scss */
.flag-HMD {
  background-position: 0 38.429752%;
  background-size: 100%;
}

/* line 178, ../scss/modules/_flags.scss */
.flag-HND {
  background-position: 0 38.842975%;
  background-size: 100%;
}

/* line 179, ../scss/modules/_flags.scss */
.flag-HRV {
  background-position: 0 39.256198%;
  background-size: 100%;
}

/* line 180, ../scss/modules/_flags.scss */
.flag-HTI {
  background-position: 0 39.669421%;
  background-size: 100%;
}

/* line 181, ../scss/modules/_flags.scss */
.flag-HUN {
  background-position: 0 40.082645%;
  background-size: 100%;
}

/* line 182, ../scss/modules/_flags.scss */
.flag-IDN {
  background-position: 0 40.495868%;
  background-size: 100%;
}

/* line 183, ../scss/modules/_flags.scss */
.flag-IMN {
  background-position: 0 40.909091%;
  background-size: 100%;
}

/* line 184, ../scss/modules/_flags.scss */
.flag-IND {
  background-position: 0 41.322314%;
  background-size: 100%;
}

/* line 185, ../scss/modules/_flags.scss */
.flag-IOA {
  background-position: 0 41.735537%;
  background-size: 100%;
}

/* line 186, ../scss/modules/_flags.scss */
.flag-IOT {
  background-position: 0 42.14876%;
  background-size: 100%;
}

/* line 187, ../scss/modules/_flags.scss */
.flag-IRL {
  background-position: 0 42.561983%;
  background-size: 100%;
}

/* line 188, ../scss/modules/_flags.scss */
.flag-IRN {
  background-position: 0 42.975207%;
  background-size: 100%;
}

/* line 189, ../scss/modules/_flags.scss */
.flag-IRQ {
  background-position: 0 43.38843%;
  background-size: 100%;
}

/* line 190, ../scss/modules/_flags.scss */
.flag-ISL {
  background-position: 0 43.801653%;
  background-size: 100%;
}

/* line 191, ../scss/modules/_flags.scss */
.flag-ISR {
  background-position: 0 44.214876%;
  background-size: 100%;
}

/* line 192, ../scss/modules/_flags.scss */
.flag-ITA {
  background-position: 0 44.628099%;
  background-size: 100%;
}

/* line 193, ../scss/modules/_flags.scss */
.flag-JAM {
  background-position: 0 45.041322%;
  background-size: 100%;
}

/* line 194, ../scss/modules/_flags.scss */
.flag-JEY {
  background-position: 0 45.454545%;
  background-size: 100%;
}

/* line 195, ../scss/modules/_flags.scss */
.flag-JOR {
  background-position: 0 45.867769%;
  background-size: 100%;
}

/* line 196, ../scss/modules/_flags.scss */
.flag-JPN {
  background-position: 0 46.280992%;
  background-size: 100%;
}

/* line 197, ../scss/modules/_flags.scss */
.flag-KAS {
  background-position: 0 46.694215%;
  background-size: 100%;
}

/* line 198, ../scss/modules/_flags.scss */
.flag-KAZ {
  background-position: 0 47.107438%;
  background-size: 100%;
}

/* line 199, ../scss/modules/_flags.scss */
.flag-KEN {
  background-position: 0 47.520661%;
  background-size: 100%;
}

/* line 200, ../scss/modules/_flags.scss */
.flag-KGZ {
  background-position: 0 47.933884%;
  background-size: 100%;
}

/* line 201, ../scss/modules/_flags.scss */
.flag-KHM {
  background-position: 0 48.347107%;
  background-size: 100%;
}

/* line 202, ../scss/modules/_flags.scss */
.flag-KIR {
  background-position: 0 48.760331%;
  background-size: 100%;
}

/* line 203, ../scss/modules/_flags.scss */
.flag-KNA {
  background-position: 0 49.173554%;
  background-size: 100%;
}

/* line 204, ../scss/modules/_flags.scss */
.flag-KOR {
  background-position: 0 49.586777%;
  background-size: 100%;
}

/* line 205, ../scss/modules/_flags.scss */
.flag-KOS {
  background-position: 0 50%;
  background-size: 100%;
}

/* line 206, ../scss/modules/_flags.scss */
.flag-KWT {
  background-position: 0 50.413223%;
  background-size: 100%;
}

/* line 207, ../scss/modules/_flags.scss */
.flag-LAO {
  background-position: 0 50.826446%;
  background-size: 100%;
}

/* line 208, ../scss/modules/_flags.scss */
.flag-LBN {
  background-position: 0 51.239669%;
  background-size: 100%;
}

/* line 209, ../scss/modules/_flags.scss */
.flag-LBR {
  background-position: 0 51.652893%;
  background-size: 100%;
}

/* line 210, ../scss/modules/_flags.scss */
.flag-LBY {
  background-position: 0 52.066116%;
  background-size: 100%;
}

/* line 211, ../scss/modules/_flags.scss */
.flag-LCA {
  background-position: 0 52.479339%;
  background-size: 100%;
}

/* line 212, ../scss/modules/_flags.scss */
.flag-LIE {
  background-position: 0 52.892562%;
  background-size: 100%;
}

/* line 213, ../scss/modules/_flags.scss */
.flag-LKA {
  background-position: 0 53.305785%;
  background-size: 100%;
}

/* line 214, ../scss/modules/_flags.scss */
.flag-LSO {
  background-position: 0 53.719008%;
  background-size: 100%;
}

/* line 215, ../scss/modules/_flags.scss */
.flag-LTU {
  background-position: 0 54.132231%;
  background-size: 100%;
}

/* line 216, ../scss/modules/_flags.scss */
.flag-LUX {
  background-position: 0 54.545455%;
  background-size: 100%;
}

/* line 217, ../scss/modules/_flags.scss */
.flag-LVA {
  background-position: 0 54.958678%;
  background-size: 100%;
}

/* line 218, ../scss/modules/_flags.scss */
.flag-MAF {
  background-position: 0 55.371901%;
  background-size: 100%;
}

/* line 219, ../scss/modules/_flags.scss */
.flag-MAR {
  background-position: 0 55.785124%;
  background-size: 100%;
}

/* line 220, ../scss/modules/_flags.scss */
.flag-MCO {
  background-position: 0 56.198347%;
  background-size: 100%;
}

/* line 221, ../scss/modules/_flags.scss */
.flag-MDA {
  background-position: 0 56.61157%;
  background-size: 100%;
}

/* line 222, ../scss/modules/_flags.scss */
.flag-MDG {
  background-position: 0 57.024793%;
  background-size: 100%;
}

/* line 223, ../scss/modules/_flags.scss */
.flag-MDV {
  background-position: 0 57.438017%;
  background-size: 100%;
}

/* line 224, ../scss/modules/_flags.scss */
.flag-MEX {
  background-position: 0 57.85124%;
  background-size: 100%;
}

/* line 225, ../scss/modules/_flags.scss */
.flag-MHL {
  background-position: 0 58.264463%;
  background-size: 100%;
}

/* line 226, ../scss/modules/_flags.scss */
.flag-MKD {
  background-position: 0 58.677686%;
  background-size: 100%;
}

/* line 227, ../scss/modules/_flags.scss */
.flag-MLI {
  background-position: 0 59.090909%;
  background-size: 100%;
}

/* line 228, ../scss/modules/_flags.scss */
.flag-MLT {
  background-position: 0 59.504132%;
  background-size: 100%;
}

/* line 229, ../scss/modules/_flags.scss */
.flag-MMR {
  background-position: 0 59.917355%;
  background-size: 100%;
}

/* line 230, ../scss/modules/_flags.scss */
.flag-MNE {
  background-position: 0 60.330579%;
  background-size: 100%;
}

/* line 231, ../scss/modules/_flags.scss */
.flag-MNG {
  background-position: 0 60.743802%;
  background-size: 100%;
}

/* line 232, ../scss/modules/_flags.scss */
.flag-MNP {
  background-position: 0 61.157025%;
  background-size: 100%;
}

/* line 233, ../scss/modules/_flags.scss */
.flag-MOZ {
  background-position: 0 61.570248%;
  background-size: 100%;
}

/* line 234, ../scss/modules/_flags.scss */
.flag-MRT {
  background-position: 0 61.983471%;
  background-size: 100%;
}

/* line 235, ../scss/modules/_flags.scss */
.flag-MSR {
  background-position: 0 62.396694%;
  background-size: 100%;
}

/* line 236, ../scss/modules/_flags.scss */
.flag-MUS {
  background-position: 0 62.809917%;
  background-size: 100%;
}

/* line 237, ../scss/modules/_flags.scss */
.flag-MWI {
  background-position: 0 63.22314%;
  background-size: 100%;
}

/* line 238, ../scss/modules/_flags.scss */
.flag-MYS {
  background-position: 0 63.636364%;
  background-size: 100%;
}

/* line 239, ../scss/modules/_flags.scss */
.flag-NAM {
  background-position: 0 64.049587%;
  background-size: 100%;
}

/* line 240, ../scss/modules/_flags.scss */
.flag-NCL {
  background-position: 0 64.46281%;
  background-size: 100%;
}

/* line 241, ../scss/modules/_flags.scss */
.flag-NER {
  background-position: 0 64.876033%;
  background-size: 100%;
}

/* line 242, ../scss/modules/_flags.scss */
.flag-NFK {
  background-position: 0 65.289256%;
  background-size: 100%;
}

/* line 243, ../scss/modules/_flags.scss */
.flag-NGA {
  background-position: 0 65.702479%;
  background-size: 100%;
}

/* line 244, ../scss/modules/_flags.scss */
.flag-NIC {
  background-position: 0 66.115702%;
  background-size: 100%;
}

/* line 245, ../scss/modules/_flags.scss */
.flag-NIU {
  background-position: 0 66.528926%;
  background-size: 100%;
}

/* line 246, ../scss/modules/_flags.scss */
.flag-NLD {
  background-position: 0 66.942149%;
  background-size: 100%;
}

/* line 247, ../scss/modules/_flags.scss */
.flag-NOR {
  background-position: 0 67.355372%;
  background-size: 100%;
}

/* line 248, ../scss/modules/_flags.scss */
.flag-NPL {
  background-position: 0 67.768595%;
  background-size: 100%;
}

/* line 249, ../scss/modules/_flags.scss */
.flag-NRU {
  background-position: 0 68.181818%;
  background-size: 100%;
}

/* line 250, ../scss/modules/_flags.scss */
.flag-NZL {
  background-position: 0 68.595041%;
  background-size: 100%;
}

/* line 251, ../scss/modules/_flags.scss */
.flag-OMN {
  background-position: 0 69.008264%;
  background-size: 100%;
}

/* line 252, ../scss/modules/_flags.scss */
.flag-PAK {
  background-position: 0 69.421488%;
  background-size: 100%;
}

/* line 253, ../scss/modules/_flags.scss */
.flag-PAN {
  background-position: 0 69.834711%;
  background-size: 100%;
}

/* line 254, ../scss/modules/_flags.scss */
.flag-PCN {
  background-position: 0 70.247934%;
  background-size: 100%;
}

/* line 255, ../scss/modules/_flags.scss */
.flag-PER {
  background-position: 0 70.661157%;
  background-size: 100%;
}

/* line 256, ../scss/modules/_flags.scss */
.flag-PHL {
  background-position: 0 71.07438%;
  background-size: 100%;
}

/* line 257, ../scss/modules/_flags.scss */
.flag-PLW {
  background-position: 0 71.487603%;
  background-size: 100%;
}

/* line 258, ../scss/modules/_flags.scss */
.flag-PNG {
  background-position: 0 71.900826%;
  background-size: 100%;
}

/* line 259, ../scss/modules/_flags.scss */
.flag-POL {
  background-position: 0 72.31405%;
  background-size: 100%;
}

/* line 260, ../scss/modules/_flags.scss */
.flag-PRI {
  background-position: 0 72.727273%;
  background-size: 100%;
}

/* line 261, ../scss/modules/_flags.scss */
.flag-PRK {
  background-position: 0 73.140496%;
  background-size: 100%;
}

/* line 262, ../scss/modules/_flags.scss */
.flag-PRT {
  background-position: 0 73.553719%;
  background-size: 100%;
}

/* line 263, ../scss/modules/_flags.scss */
.flag-PRY {
  background-position: 0 73.966942%;
  background-size: 100%;
}

/* line 264, ../scss/modules/_flags.scss */
.flag-PSX {
  background-position: 0 74.380165%;
  background-size: 100%;
}

/* line 265, ../scss/modules/_flags.scss */
.flag-PYF {
  background-position: 0 74.793388%;
  background-size: 100%;
}

/* line 266, ../scss/modules/_flags.scss */
.flag-QAT {
  background-position: 0 75.206612%;
  background-size: 100%;
}

/* line 267, ../scss/modules/_flags.scss */
.flag-ROU {
  background-position: 0 75.619835%;
  background-size: 100%;
}

/* line 268, ../scss/modules/_flags.scss */
.flag-RUS {
  background-position: 0 76.033058%;
  background-size: 100%;
}

/* line 269, ../scss/modules/_flags.scss */
.flag-RWA {
  background-position: 0 76.446281%;
  background-size: 100%;
}

/* line 270, ../scss/modules/_flags.scss */
.flag-SAH {
  background-position: 0 76.859504%;
  background-size: 100%;
}

/* line 271, ../scss/modules/_flags.scss */
.flag-SAU {
  background-position: 0 77.272727%;
  background-size: 100%;
}

/* line 272, ../scss/modules/_flags.scss */
.flag-SDN {
  background-position: 0 77.68595%;
  background-size: 100%;
}

/* line 273, ../scss/modules/_flags.scss */
.flag-SEN {
  background-position: 0 78.099174%;
  background-size: 100%;
}

/* line 274, ../scss/modules/_flags.scss */
.flag-SGP {
  background-position: 0 78.512397%;
  background-size: 100%;
}

/* line 275, ../scss/modules/_flags.scss */
.flag-SGS {
  background-position: 0 78.92562%;
  background-size: 100%;
}

/* line 276, ../scss/modules/_flags.scss */
.flag-SHN {
  background-position: 0 79.338843%;
  background-size: 100%;
}

/* line 277, ../scss/modules/_flags.scss */
.flag-SLB {
  background-position: 0 79.752066%;
  background-size: 100%;
}

/* line 278, ../scss/modules/_flags.scss */
.flag-SLE {
  background-position: 0 80.165289%;
  background-size: 100%;
}

/* line 279, ../scss/modules/_flags.scss */
.flag-SLV {
  background-position: 0 80.578512%;
  background-size: 100%;
}

/* line 280, ../scss/modules/_flags.scss */
.flag-SMR {
  background-position: 0 80.991736%;
  background-size: 100%;
}

/* line 281, ../scss/modules/_flags.scss */
.flag-SOM {
  background-position: 0 81.404959%;
  background-size: 100%;
}

/* line 282, ../scss/modules/_flags.scss */
.flag-SPM {
  background-position: 0 81.818182%;
  background-size: 100%;
}

/* line 283, ../scss/modules/_flags.scss */
.flag-SRB {
  background-position: 0 82.231405%;
  background-size: 100%;
}

/* line 284, ../scss/modules/_flags.scss */
.flag-SSD {
  background-position: 0 82.644628%;
  background-size: 100%;
}

/* line 285, ../scss/modules/_flags.scss */
.flag-STP {
  background-position: 0 83.057851%;
  background-size: 100%;
}

/* line 286, ../scss/modules/_flags.scss */
.flag-SUR {
  background-position: 0 83.471074%;
  background-size: 100%;
}

/* line 287, ../scss/modules/_flags.scss */
.flag-SVK {
  background-position: 0 83.884298%;
  background-size: 100%;
}

/* line 288, ../scss/modules/_flags.scss */
.flag-SVN {
  background-position: 0 84.297521%;
  background-size: 100%;
}

/* line 289, ../scss/modules/_flags.scss */
.flag-SWE {
  background-position: 0 84.710744%;
  background-size: 100%;
}

/* line 290, ../scss/modules/_flags.scss */
.flag-SWZ {
  background-position: 0 85.123967%;
  background-size: 100%;
}

/* line 291, ../scss/modules/_flags.scss */
.flag-SXM {
  background-position: 0 85.53719%;
  background-size: 100%;
}

/* line 292, ../scss/modules/_flags.scss */
.flag-SYC {
  background-position: 0 85.950413%;
  background-size: 100%;
}

/* line 293, ../scss/modules/_flags.scss */
.flag-SYR {
  background-position: 0 86.363636%;
  background-size: 100%;
}

/* line 294, ../scss/modules/_flags.scss */
.flag-TCA {
  background-position: 0 86.77686%;
  background-size: 100%;
}

/* line 295, ../scss/modules/_flags.scss */
.flag-TCD {
  background-position: 0 87.190083%;
  background-size: 100%;
}

/* line 296, ../scss/modules/_flags.scss */
.flag-TGO {
  background-position: 0 87.603306%;
  background-size: 100%;
}

/* line 297, ../scss/modules/_flags.scss */
.flag-THA {
  background-position: 0 88.016529%;
  background-size: 100%;
}

/* line 298, ../scss/modules/_flags.scss */
.flag-TJK {
  background-position: 0 88.429752%;
  background-size: 100%;
}

/* line 299, ../scss/modules/_flags.scss */
.flag-TKL {
  background-position: 0 88.842975%;
  background-size: 100%;
}

/* line 300, ../scss/modules/_flags.scss */
.flag-TKM {
  background-position: 0 89.256198%;
  background-size: 100%;
}

/* line 301, ../scss/modules/_flags.scss */
.flag-TLS {
  background-position: 0 89.669421%;
  background-size: 100%;
}

/* line 302, ../scss/modules/_flags.scss */
.flag-TON {
  background-position: 0 90.082645%;
  background-size: 100%;
}

/* line 303, ../scss/modules/_flags.scss */
.flag-TTO {
  background-position: 0 90.495868%;
  background-size: 100%;
}

/* line 304, ../scss/modules/_flags.scss */
.flag-TUN {
  background-position: 0 90.909091%;
  background-size: 100%;
}

/* line 305, ../scss/modules/_flags.scss */
.flag-TUR {
  background-position: 0 91.322314%;
  background-size: 100%;
}

/* line 306, ../scss/modules/_flags.scss */
.flag-TWN {
  background-position: 0 91.735537%;
  background-size: 100%;
}

/* line 307, ../scss/modules/_flags.scss */
.flag-TZA {
  background-position: 0 92.14876%;
  background-size: 100%;
}

/* line 308, ../scss/modules/_flags.scss */
.flag-UGA {
  background-position: 0 92.561983%;
  background-size: 100%;
}

/* line 309, ../scss/modules/_flags.scss */
.flag-UKR {
  background-position: 0 92.975207%;
  background-size: 100%;
}

/* line 310, ../scss/modules/_flags.scss */
.flag-URY {
  background-position: 0 93.38843%;
  background-size: 100%;
}

/* line 311, ../scss/modules/_flags.scss */
.flag-USA {
  background-position: 0 93.801653%;
  background-size: 100%;
}

/* line 312, ../scss/modules/_flags.scss */
.flag-UZB {
  background-position: 0 94.214876%;
  background-size: 100%;
}

/* line 313, ../scss/modules/_flags.scss */
.flag-VAT {
  background-position: 0 94.628099%;
  background-size: 100%;
}

/* line 314, ../scss/modules/_flags.scss */
.flag-VCT {
  background-position: 0 95.041322%;
  background-size: 100%;
}

/* line 315, ../scss/modules/_flags.scss */
.flag-VEN {
  background-position: 0 95.454545%;
  background-size: 100%;
}

/* line 316, ../scss/modules/_flags.scss */
.flag-VGB {
  background-position: 0 95.867769%;
  background-size: 100%;
}

/* line 317, ../scss/modules/_flags.scss */
.flag-VIR {
  background-position: 0 96.280992%;
  background-size: 100%;
}

/* line 318, ../scss/modules/_flags.scss */
.flag-VNM {
  background-position: 0 96.694215%;
  background-size: 100%;
}

/* line 319, ../scss/modules/_flags.scss */
.flag-VUT {
  background-position: 0 97.107438%;
  background-size: 100%;
}

/* line 320, ../scss/modules/_flags.scss */
.flag-WLF {
  background-position: 0 97.520661%;
  background-size: 100%;
}

/* line 321, ../scss/modules/_flags.scss */
.flag-WSM {
  background-position: 0 97.933884%;
  background-size: 100%;
}

/* line 322, ../scss/modules/_flags.scss */
.flag-YEM {
  background-position: 0 98.347107%;
  background-size: 100%;
}

/* line 323, ../scss/modules/_flags.scss */
.flag-ZAF {
  background-position: 0 98.760331%;
  background-size: 100%;
}

/* line 324, ../scss/modules/_flags.scss */
.flag-ZMB {
  background-position: 0 99.173554%;
  background-size: 100%;
}

/* line 325, ../scss/modules/_flags.scss */
.flag-ZWE {
  background-position: 0 99.586777%;
  background-size: 100%;
}

/* line 326, ../scss/modules/_flags.scss */
.flag-no-flag {
  background-position: 0 100%;
  background-size: 100%;
}

/* line 1, ../scss/modules/_forms.scss */
select {
  max-width: 100%;
}

/* line 6, ../scss/modules/_forms.scss */
#section-header #block-search-form {
  margin: 10px 5em 0;
  float: right;
  z-index: 500;
}
/* line 11, ../scss/modules/_forms.scss */
#section-header #block-search-form input[type=submit] {
  display: none;
}

/* line 16, ../scss/modules/_forms.scss */
html.js fieldset.collapsed {
  height: auto;
}

/* line 20, ../scss/modules/_forms.scss */
.page-user.not-logged-in {
  /* #section-header, */
}
/* line 22, ../scss/modules/_forms.scss */
.page-user.not-logged-in #main-wrapper {
  padding: 0;
  max-width: 40em;
  margin: 0 auto;
  /* min-width: 600px; */
  /* text-align: center; */
  /* border: 1px solid $grey-light; */
  /* border-radius: 0.25em; */
}

/* Landportal SCSS: menus */
/* line 3, ../scss/modules/_menus.scss */
#header {
  font-family: FontAwesome;
}
/* line 5, ../scss/modules/_menus.scss */
#header ul.language-switcher-locale-url,
#header ul.menu {
  margin: 0;
  padding: 0;
}
/* line 9, ../scss/modules/_menus.scss */
#header ul.language-switcher-locale-url li,
#header ul.menu li {
  margin: 0 0 0 .5em;
  padding: 0;
  float: left;
  list-style-type: none;
  list-style-image: none;
}
/* line 15, ../scss/modules/_menus.scss */
#header ul.language-switcher-locale-url li a,
#header ul.menu li a {
  text-decoration: none;
  text-transform: lowercase;
}
/* line 19, ../scss/modules/_menus.scss */
#header ul.language-switcher-locale-url li:before,
#header ul.menu li:before {
  content: "| ";
}
/* line 22, ../scss/modules/_menus.scss */
#header ul.language-switcher-locale-url li:first-of-type:before,
#header ul.menu li:first-of-type:before {
  content: "";
}
/* line 27, ../scss/modules/_menus.scss */
#header ul.language-switcher-locale-url {
  margin-right: 1em;
}
/* line 29, ../scss/modules/_menus.scss */
#header ul.language-switcher-locale-url li a {
  display: inline-block;
  padding: 0;
  border: 0;
  background-color: inherit;
  color: #0165C3;
}
/* line 35, ../scss/modules/_menus.scss */
#header ul.language-switcher-locale-url li a.active {
  color: #333333;
}

/* line 41, ../scss/modules/_menus.scss */
.not-logged-in #header #block-system-user-menu ul.menu li.first a:before {
  content: "\f007";
  font-size: 1.2em;
  margin-right: .5em;
}

/* line 47, ../scss/modules/_menus.scss */
#section-header {
  margin: 0;
  padding: 0;
  /* min-height: 120px; */
}
/* line 52, ../scss/modules/_menus.scss */
#section-header h2 {
  font-family: 'Source Sans Pro',sans-serif;
  clear: left;
  font-size: 2.8em;
  font-weight: 300;
  margin: 0.1em 50px;
  padding: 10px 0 0;
  color: #ffffff;
  letter-spacing: .1em;
  text-shadow: #333333 0 0.04em 0;
}
/* line 63, ../scss/modules/_menus.scss */
#section-header p {
  font-size: 1.3em;
  letter-spacing: .1em;
  margin: 1em 50px;
  color: #ffffff;
  font-weight: 300;
  font-family: 'Source Sans Pro',sans-serif;
}
/* line 72, ../scss/modules/_menus.scss */
#section-header ul.primary,
#section-header ul.menu {
  clear: both;
  margin: 0;
  padding: 0;
}
/* line 77, ../scss/modules/_menus.scss */
#section-header ul.primary li,
#section-header ul.menu li {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  float: left;
  border-right: 1px solid #ffffff;
}
/* line 85, ../scss/modules/_menus.scss */
#section-header ul.primary li:last-of-type,
#section-header ul.menu li:last-of-type {
  border-right: 0;
}
/* line 88, ../scss/modules/_menus.scss */
#section-header ul.primary li a,
#section-header ul.menu li a {
  text-decoration: none;
  display: inline-block;
  padding: 1.3em 0;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: .1em;
  font-size: 1.1em;
  width: 100%;
  line-height: 1.2em;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
/* line 100, ../scss/modules/_menus.scss */
#section-header ul.primary li a.active,
#section-header ul.menu li a.active {
  border-bottom: 0.5em solid #f1db11;
  padding-bottom: 0.8em;
  text-decoration: underline;
}
/* line 110, ../scss/modules/_menus.scss */
#section-header .content:after {
  display: block;
  content: "";
  clear: both;
  visibility: none;
}

/* line 117, ../scss/modules/_menus.scss */
.page-user #section-header,
.page-book #section-header {
  border-top: 0;
  background-color: rgba(86, 131, 9, 0.8);
  background-image: url(../images/header/grass-medium.png);
}

/* line 130, ../scss/modules/_menus.scss */
.node-type-organization #section-header,
.node-type-news #section-header,
.node-type-debate #section-header,
.node-type-blog-post #section-header,
.node-type-event #section-header,
.page-debate #section-header {
  border-top: 0;
  background-color: #0165C3;
  background-image: url(../images/header/pebbles-medium.png);
}

/* line 140, ../scss/modules/_menus.scss */
#section-header #block-menu-landbook-menu li {
  width: 12.4%;
}
/* line 146, ../scss/modules/_menus.scss */
#section-header #block-menu-landdebate-menu li {
  width: 16.5%;
}
/* line 152, ../scss/modules/_menus.scss */
#section-header #block-menu-user-signin li {
  width: 50%;
}

/******************** IMPORT: Screens
Base and specialized sizes for devices
*/
/**
 * Landportal SCSS
 * Base size and positionning
 */
/* Default elements */
/* line 7, ../scss/screens/_base.scss */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 13, ../scss/screens/_base.scss */
body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #333333;
}

/* line 17, ../scss/screens/_base.scss */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: 'News Cycle', sans-serif;
  margin-top: 0;
  text-rendering: optimizelegibility;
  clear: both;
}
/* line 22, ../scss/screens/_base.scss */
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  text-decoration: none;
}

/* line 26, ../scss/screens/_base.scss */
h1 {
  font-size: 2.5em;
  font-weight: normal;
  color: #333;
  padding-bottom: 0.2em;
}

/* line 32, ../scss/screens/_base.scss */
h2 {
  font-size: 1.2em;
  font-weight: normal;
}

/* line 36, ../scss/screens/_base.scss */
img {
  max-width: 100%;
}

/* line 39, ../scss/screens/_base.scss */
a {
  color: #0165C3;
}

/* .view-content { */
/*     clear: both; */
/* } */
/* .no-margin { */
/* 	margin: 0 !important; */
/* } */
/* Sizing */
/* @screen-xs-min 480px */
/* @screen-sm-min 768px */
/* @screen-md-min 992px */
/* @screen-lg-min 1200px */
@media (min-width: 768px) {
  /* line 57, ../scss/screens/_base.scss */
  #breadcrumb,
  #main-wrapper {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 61, ../scss/screens/_base.scss */
  #breadcrumb,
  #main-wrapper {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 65, ../scss/screens/_base.scss */
  #breadcrumb,
  #main-wrapper {
    width: 1170px;
  }
}
/*****************************************
 * Header & Footer areas
 */
/* line 74, ../scss/screens/_base.scss */
#logo {
  float: left;
  margin: 0 2em 0 0;
}

/* line 80, ../scss/screens/_base.scss */
#header .block-menu {
  float: left;
}
/* line 81, ../scss/screens/_base.scss */
#header .block-menu h2 {
  display: none;
}
/* line 86, ../scss/screens/_base.scss */
#header .block-menu:after {
  position: relative;
  clear: both;
  display: table;
  content: " ";
  visibility: hidden;
}
/* line 95, ../scss/screens/_base.scss */
#header .block-menu .contextual-links-wrapper, #header .block-locale .contextual-links-wrapper {
  margin-right: -32px;
}
/* line 101, ../scss/screens/_base.scss */
#header #block-locale-language,
#header #block-system-user-menu {
  float: right;
}

/* line 107, ../scss/screens/_base.scss */
#footer {
  border-top: 1px solid #333333;
  height: 100px;
  margin-top: 5px;
}
/* line 112, ../scss/screens/_base.scss */
#footer .block {
  float: left;
}
/* line 116, ../scss/screens/_base.scss */
#footer:before {
  position: relative;
  clear: both;
  display: table;
  content: " ";
  visibility: hidden;
}
/* line 124, ../scss/screens/_base.scss */
#footer #block-landportal-extra-lp-footer-social {
  float: right;
  font-size: 1.8em;
}
/* line 127, ../scss/screens/_base.scss */
#footer #block-landportal-extra-lp-footer-social li {
  height: 1.4em;
  width: 1.4em;
  border-radius: 0.7em;
  background-color: #333333;
  list-style-type: none;
  text-align: center;
  float: left;
}
/* line 135, ../scss/screens/_base.scss */
#footer #block-landportal-extra-lp-footer-social li {
  margin: 0 0 0 .5em;
  padding: .05em 0 0 0;
}
/* line 140, ../scss/screens/_base.scss */
#footer #block-landportal-extra-lp-footer-social li a {
  color: #ffffff;
}
/* line 146, ../scss/screens/_base.scss */
#footer .contextual-links-wrapper {
  margin-right: -32px;
}

/* line 151, ../scss/screens/_base.scss */
#header,
#footer {
  padding: 0.8em 5em 0.5em;
  /* height: 44px; */
}

/* line 157, ../scss/screens/_base.scss */
#section-header {
  border-top: 0.36em solid #8fcd1f;
}

/*****************************************
 * Main / Content areas
 */
/* line 165, ../scss/screens/_base.scss */
#breadcrumb,
#main-wrapper {
  margin: 0 auto;
  padding: 0 15px;
}

/* line 171, ../scss/screens/_base.scss */
#breadcrumb {
  clear: both;
}

/* line 175, ../scss/screens/_base.scss */
.no-sidebars #content {
  width: 100%;
}

/* line 178, ../scss/screens/_base.scss */
.sidebar-first #content,
.sidebar-second #content {
  width: 73%;
}

/* line 182, ../scss/screens/_base.scss */
.sidebar-first #content {
  margin-left: 25%;
}

/* line 185, ../scss/screens/_base.scss */
.two-sidebars #content {
  width: 48%;
  margin-left: 26%;
}

/* line 189, ../scss/screens/_base.scss */
.sidebar {
  width: 24%;
}

/**
 * Sidebars
 */
/* line 196, ../scss/screens/_base.scss */
#main {
  position: relative;
}

/* line 197, ../scss/screens/_base.scss */
#content {
  float: left;
}

/* line 200, ../scss/screens/_base.scss */
#sidebar-first {
  top: 50px;
  position: absolute;
  float: left;
  /* width: 24%; */
}

/* line 206, ../scss/screens/_base.scss */
#sidebar-second {
  float: right;
}

/*****************************************
 * Drupal specific
 */
/* line 214, ../scss/screens/_base.scss */
.view .pager {
  margin: 0;
}
/* line 216, ../scss/screens/_base.scss */
.view .pager li {
  margin: 0 .5em;
  padding: 0;
}
/* line 219, ../scss/screens/_base.scss */
.view .pager li a {
  margin: 0.5em 0;
}

/*****************************************
 * Page specific
 */
/* line 231, ../scss/screens/_base.scss */
.page-node .submitted {
  display: none;
}

/* line 236, ../scss/screens/_base.scss */
.front .submitted,
.front .views-label {
  display: none;
}
/* line 239, ../scss/screens/_base.scss */
.front .library {
  color: #e3ab03;
}
/* line 240, ../scss/screens/_base.scss */
.front .book {
  color: #8fcd1f;
}
/* line 241, ../scss/screens/_base.scss */
.front .debate {
  color: #0165C3;
}
/* line 243, ../scss/screens/_base.scss */
.front #header {
  border-bottom: 0.36em solid #8fcd1f;
}
/* line 246, ../scss/screens/_base.scss */
.front #main {
  line-height: 1.4em;
  width: 100%;
  color: #666666;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  font-family: 'Source Sans Pro',sans-serif;
  font-weight: 300;
}
/* line 254, ../scss/screens/_base.scss */
.front #main #page-title {
  line-height: 1.4em;
  font-family: 'Source Sans Pro',sans-serif;
  font-weight: 300;
  font-size: 1.4em;
  text-transform: uppercase;
  margin: 1.2em 0 0;
}
/* line 263, ../scss/screens/_base.scss */
.front #main .region-content {
  margin: 0.5em 0 1em 0;
}
/* line 270, ../scss/screens/_base.scss */
.front .view-front-page-promoted {
  margin: 0;
  /* padding: 0 -15px; */
  width: 100%;
}
/* line 276, ../scss/screens/_base.scss */
.front .view-front-page-promoted .views-row {
  position: relative;
  float: left;
  width: 25%;
}
/* line 282, ../scss/screens/_base.scss */
.front .view-front-page-promoted .views-row .views-field-title {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  padding: 0.5em 1em;
  bottom: 0;
}
/* line 288, ../scss/screens/_base.scss */
.front .view-front-page-promoted .views-row a {
  text-decoration: none;
  color: #ffffff;
}
/* line 292, ../scss/screens/_base.scss */
.front .view-front-page-promoted .views-row .views-field-field-image {
  height: 200px;
  overflow: hidden;
}
/* line 296, ../scss/screens/_base.scss */
.front .view-front-page-promoted .views-row img {
  width: 100%;
  height: auto;
}
/* line 301, ../scss/screens/_base.scss */
.front .view-front-page-promoted:after {
  position: relative;
  clear: both;
  display: table;
  content: " ";
  visibility: hidden;
}
/* line 309, ../scss/screens/_base.scss */
.front .view-front-page-teasers {
  padding: 1em 5em;
}
/* line 311, ../scss/screens/_base.scss */
.front .view-front-page-teasers .views-row {
  float: left;
  width: 33.3%;
  text-align: center;
  padding: 0 1em;
}
/* line 316, ../scss/screens/_base.scss */
.front .view-front-page-teasers .views-row .views-field-title {
  text-transform: lowercase;
  font-size: 2.5em;
}
/* line 319, ../scss/screens/_base.scss */
.front .view-front-page-teasers .views-row .views-field-title a {
  color: #333333;
}
/* line 323, ../scss/screens/_base.scss */
.front .view-front-page-teasers .views-row h2 {
  text-transform: uppercase;
  min-height: 2.5em;
  color: #666666;
}
/* line 324, ../scss/screens/_base.scss */
.front .view-front-page-teasers .views-row h2 a {
  text-decoration: none;
  color: #666666;
}
/* line 329, ../scss/screens/_base.scss */
.front .view-front-page-teasers .views-row h3 {
  border: 1px solid #333333;
  border-radius: 0.3em;
  padding: 1em 0;
  font-size: 1.3em;
}
/* line 330, ../scss/screens/_base.scss */
.front .view-front-page-teasers .views-row h3 a {
  text-decoration: none;
  color: #666666;
}
/* line 336, ../scss/screens/_base.scss */
.front .view-front-page-teasers .views-row p {
  min-height: 150px;
  text-align: justify;
}
/* line 341, ../scss/screens/_base.scss */
.front .view-front-page-teasers:after {
  position: relative;
  clear: both;
  display: table;
  content: " ";
  visibility: hidden;
}

/* Book */
/* line 352, ../scss/screens/_base.scss */
.content .content.container {
  padding: 0;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
