/**
 * Landbook SCSS
 *
 * Author: Jules <jules@ker.bz>
 */
.landbook-header-bg {
    background-color: $green-dark;
    background-image: url(../images/header/grass-medium.png);
}

.content .content.container {
    padding: 0;
    width: 100%;
}
// TMP HACK REMOVE ONCE landbook page title are cleanup (eg: on country page)
.page-book-countries {
    #page-title {
        display: none;
    }
}

.node-type-landbook-country,
.page-book {
    #section-header {
        border-top: 0;
        @extend .landbook-header-bg;
    }
}


.page-node.node-type-landbook-country {
    //#content { float: none; }
    @media(min-width:992px){
        #breadcrumb,
        #main-wrapper{ width: 95%; }
    }
    .node-news.node-teaser {
        h2 { font-size: 1.3em; }
        .information, .submitted, .links { display: none; }
        .content { font-size: .8em; }
    }
}