
.lp-button {
    padding: 0.2em 0.5em;
    border-radius: .25em;
    background-color: $blue-light;
    color: white;
    white-space: nowrap;
    &.active {
        background-color: $blue-dark;
    }
}

.field-type-taxonomy-term-reference {
    .field-items {
        display: inline;
    }
    .field-item {
        display: inline-block;
        margin: .2em;
        a {
            @extend .lp-button;
        }
    }
}

/* .field-name-field-related-topics, */
/* .field-name-field-geographical-focus, */
/* .field-name-field-status { */
/* } */
.field-name-field-status .field-item {
    margin: 1.5em 0;
    padding: .5em;
}
.field-name-field-status .field-item {
    float: none;
    border: 1px solid $grey-light;
    .field-item[content="Closed"] {
        background-color: $status-red;
    }
}
