
.field-name-body h1,
.field-name-body h2,
.field-name-body h3,
.field-name-body h4,
.field-name-body h5 {
    clear: none;
}
.field-name-body h1 { font-size: 2em; }
.field-name-body h2 { font-size: 1.8em; }
.field-name-body h3 { font-size: 1.5em; }
.field-name-body h4 { font-size: 1.2em; }

.page-debate-debates,
.page-debate-events,
.page-debate-community {
    .submitted {
        display: none;
        visibility: hidden;
    }
}

.page-debate-community {
    .node-organization.node-teaser {
        width: 33%;
        float: left;
        position: relative;
        text-align: center;
        margin: 1em 0 2em 0;

        .views-row:nth-child(3n+3) {
            clear: left;
        }

        h2 {
            margin-top: 1em;
            width: 100%;
            text-align: center;
        }
        .content-info {
            min-height: 200px;
        }
        img {
            min-width: 200px;
        }
    }
}


.node-type-debate,
.node-type-event,
.node-type-news,
.page-debate-news,
.page-debate-blog,
.page-debate-events,
.page-debate-debates {
    .view-content {
        padding: 0 2em 0 0;
    }
    .views-row {
        border-bottom: 1px dotted $grey-light;
    }

    .node {
        margin: 2em 0;
        h2 {
            font-size: 1.8em;
        }
        .field-items:after { content: ""; display: block; float: none; clear: both; }
        .field {
            margin: 0 0 .5em;
            &:last-of-type { margin: 0; }
        }
        .content {
            float: left;
            width: 75%;
            padding: 0 0 0 2em;

            p {
                text-align: justify;
            }
        }
        .content-info {
            text-align: center;
            float: left;
            width: 25%;

            img {
                width: 100%;
                height: auto;
            }
            .field-label {
                font-family: 'News Cycle',sans-serif;
                margin-bottom: .5em;
                text-transform: uppercase;
                color: $grey-light;
                position: relative;
                &:before {
                    width: 100%;
                    left: 0;
                    top: .6em;
                    content: "";
                    position: absolute;
                    border-top: 1px solid $grey-light;
                    z-index: -1;
                }
                span {
                    font-size: 0.9em;
                    color: $grey-light;
                    font-weight: normal;
                    padding: 0 1em;
                    background-color: #FFF;
                }
            }
        }
        ul.links.inline li {
            float: right;
            font-style: italic;
            &.comment-add {
                display: none;
                visibility: hidden;
            }
        }
    }
}

.page-debate-events,
.page-debate-blog {
    .views-row {
        border-bottom: 0;
        width: 48%;
        float: left;
        margin: 0 1%;
    }
}

.page-debate-events {
    .views-row-odd { clear: left; }
}
.page-debate-blog {
    .views-row {
        &:first-of-type {
            border-bottom: 1px dotted $grey-light;
            margin: 0;
            width: 100%;
        }
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
}

.node-debate {
    .content-info .field-name-field-facilitators {

        & > .field-items > .field-item {
            border-bottom: 1px dotted $grey-light;
            &:last-of-type {
                border-bottom: 0;
            }
        }
        .profile,
        .user-profile {
            margin: .5em 0;
            &:after {
                content: "";
                display: table;
                clear: both;
            }
            .user-picture {
                float: left;
            }
            .field-name-field-organization {
                font-size: .8em;
                padding: 0;
            }

        }
        .field {
            float: left; 
            padding: 0 .4em 0 0;
            margin: 0;
        }
    }
}

