/* Bootstrap override */
.webform-client-form {
    /* @extend .form-horizontal; */
    /* label { */
    /*     @extend .control-label; */
    /*     @extend .col-sm-3; */
    /* } */
    .grippi {
    }
    .webform-component-number,
    .webform-component-checkboxes {
        @extend .form-inline;
    }
    .webform-component-number label {
        @extend .col-sm-3;
        margin-top: 5px;
        padding-left: 0;
    }
    
    .form-item {
        @extend .form-group;
    }
    input[type=text],
    input[type=email],
    select, textarea {
        @extend .form-control;
    }
    .form-type-checkbox {
        
    }
    .form-managed-file {
        
    }
    .form-actions {
        input[type=submit] {
            @extend .btn;
            @extend .btn-primary;
        }
    }
}

select {
    max-width: 100%;
}

#section-header {
    #block-search-form {
        margin: 1em 5em 0 0;
        padding: 5px 10px 3px 5px;
        float: right;
        z-index: 500;
        background-color: rgba(255, 255, 255, 0.6);

        .container-inline div {
            display: inline-block;
            margin: 0;

        input {
            background-color: inherit;
            border: 0;
        }
        input[type=submit] {
            display: none;
        }
        &.form-actions:after {
             font-family: 'Glyphicons Halflings';
             content: "\e003";
        }
}
    }
}
html.js fieldset.collapsed {
    height: auto;
}

.page-user.not-logged-in {
    /* #section-header, */
    #main-wrapper {
        padding: 0;
        max-width: 40em;
        margin: 0 auto;

        /* min-width: 600px; */
        /* text-align: center; */
        /* border: 1px solid $grey-light; */
        /* border-radius: 0.25em; */
    }
}
.contact-form {
    label {
        display: inline-block;
        min-width: 150px;
    }
}


/* Restyle and baseline non-control form elements. */

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}
