select {
    max-width: 100%;
}

#section-header {
    #block-search-form {
        margin: 10px 5em 0;
        float: right;
        z-index: 500;

        input[type=submit] {
            display: none;
        }
    }
}
html.js fieldset.collapsed {
    height: auto;
}

.page-user.not-logged-in {
    /* #section-header, */
    #main-wrapper {
        padding: 0;
        max-width: 40em;
        margin: 0 auto;

        /* min-width: 600px; */
        /* text-align: center; */
        /* border: 1px solid $grey-light; */
        /* border-radius: 0.25em; */
    }
}
