select {
    max-width: 100%;
}

#section-header {
    #block-search-form {
        margin: 10px 5em 0;
        float: right;
        z-index: 500;

        input[type=submit] {
            display: none;
        }
    }
}
