/****** Agro-Know ********/

/* #views-exposed-form-library-search-page { */
/*     margin: 1em 0; */
/* } */

/* #edit-keyword-wrapper { */
/*         width:60%; */
/* } */

#edit-keyword {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width:100%;
    font-size:1.5em;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.source-list-row {
  float:left;
  margin: 20px 20px 20px 20px;
}

.views-exposed-widget .views-submit-button {
font-size:1.5em;
}

#edit-submit-library-search{
  margin-top:0px !important;
  font-size:1.5em;
}

.search-block-provider {
  float: right;
}

.search-block-provider img {
  width:60px;
}

.search-block-keyword a {
  font-size: 1.0em;
  font-family: 'News Cycle', sans-serif;
}

.browse-block-subject {
  width:150px;
  height:150px;
}

.browse-block-subject a span{
  font-size: 1.0em;
  width: 100px;
  text-align:center;
  display:block;
  font-family: 'News Cycle', sans-serif;
}

.browse-block-subject a img {
  width:100px;
}

.browse-block-type {
  width:150px;
}

.browse-block-type a span{
  font-size: 1.0em; 
  width: 100px;
  text-align:center;
  display:block;
  font-family: 'News Cycle', sans-serif;
}

.browse-block-type a img {
  width:100px;
}


.block-facetapi {
border-top-right-radius: 0;
border-bottom-right-radius: 0;
width:100%;
background-color: #fff;
background-image: none;
border: 1px solid #eee;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
padding: 10px 10px 10px 10px;
font-family: 'News Cycle', sans-serif;
font-size: 1.1em;
margin-bottom:10px;
}

.block-facetapi h2 {
 cursor:hand;
 cursor:pointer;
}

/* .page-library-search .view-content { */
/*   margin-top:20px; */
/* } */

/* a { */
/*     color: $blue-dark; */
/* } */

.grid-row {
	text-align:center;
	padding-bottom:50px;
}



.node-type-landlibrary-resource #section-header,
.page-library #section-header,
.page-library-search #section-header,
.page-library-sources #section-header {
  border-top: 0;
  background-color: #91594d;
  background-image: url(../images/header/rocky-land-medium.png);
}

/* .page-library #section-header #block-search-form, */
/* .page-library-search #section-header #block-search-form, */
/* .page-library-sources #section-header #block-search-form { */
/*   display: none; */
/* } */

/* #section-header #block-menu-menu-landlibrary-menu li { */
/*   width: 16.65%; */
/* } */

/* .views-field-field-doc-is-shown-by a { */
/* width: 100%; */
/* margin-top: 1em; */
/* background-color: #01A9DB; */
/* color: #fff; */
/* border-color: #2a7085; */
/* } */

/* .views-field-field-doc-is-shown-at a { */
/* width: 100%; */
/* margin-top: 1em; */
/* background-color: #01A9DB; */
/* color: #fff; */
/* border-color: #2a7085; */
/* } */

/* .node-type-landlibrary-resource .field-label-above { */
/* margin-top:20px; */
/* } */

/* .node-type-landlibrary-resource .field-group-fieldset { */
/* margin-top:20px; */
/* } */





.view-library-search .field-content a {
        font-size:1.2em;
}

.view-browse-by-subject .views-row {
        display:inline;
        float:left;
}

.view-browse-resource-type .views-row {
        display:inline;
        float:left;
}

/**
 * SCSS - reviewed by Jules
 *
 * Note: 17/11/2015... In fact the whole LL should have been wiped and
 *  redone from scratch, even CSS is not understood by AK dev... #gobacktoschool
 */

.page-library {

    .field-name-field-doc-title {
        //font-weight: bold;
        font-size: 1.4em;
    }

    .field-name-field-doc-alt-title {
        font-size: 1.3em;
        font-style: italic;
    }

    /* Force outer block height when inner elements "float" */
    .region .block-views .content:after,
    .view-landlibrary-promoted:after {
        position: relative;
        clear: both;
        display: table;
        content: " ";
        visibility: hidden;
    }
    .field-name-field-doc-publisher,
    .field-name-field-doc-data-provider,
    .field-name-field-doc-provider {
        display: inline-block;
        margin-right: 1em;
    }
    .field-name-field-doc-type {
        @extend .landportal-button-red;
    }
}

.view-landlibrary-promoted {
    margin: 0;
    margin-bottom:50px;
    width: 100%;

    .views-row {
        position:relative;
        a {
            text-decoration: none;
            color: white;
        }
        .views-field-title {
            width: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            position: absolute;
            padding: 0.5em 1em;
            bottom: 0;
        }

        .views-field-doc-thumb {
            height: 200px;
            overflow: hidden;
            position:relative;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .views-field-field-image {
        width:100%;
        padding: 5px 5px 5px 5px;
        background-color: rgba(0, 0, 0, 0.4);
        position:absolute;

        img {
            max-height:30px;
            max-width:80px;
            float:right;
        }
    }
}

@media (min-width:768px) {
.view-landlibrary-promoted .views-row {
    position: relative;
    float: left;
    width: 25%;
  }
}
