.links.inline {
    float: right;
    font-style: italic;
    li {
        padding-right: 0;
    }
    a {
        font-size: .9em;
        &::before {
            content: "\2192";
            padding-right: .4em;
        }
    }
}
