/* Landportal SCSS: menus */

#header ul.menu {
    margin: 0;
    padding: 0;

    li {
        padding: 0;
        float: left;
        list-style-type: none;
        list-style-image: none;

        a {
            text-decoration: none;
        }
        
        &:before {
            content: "| ";
        }
        &:first-of-type:before {
            content: "";
        }
    }
}
