.profile {
    text-align: left;
    .field-name-field-title,
    .field-name-field-firstname,
    .field-name-field-lastname {
        display: inline-block;
        margin: 0 !important;
    }
    .user-picture {
        float: left;
    }
    .content {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .field-name-field-location {
        float: right;
        width: 250px;
        border-left: 1px solid $grey-light;
        border-bottom: 1px solid $grey-light;
        padding: .5em;
        margin: -2em 0 .5em .5em;
        .location-hidden {
            display: none;
        }
    }
    .field-name-field-position {
        font-weight: bold;
    }
    .field-name-field-description {
        margin-top: 1em;
        text-align: justify;
    }
    .field-label {
        color: $grey-light;
        font-style: italic;
        font-size: .9em;
    }
    .field-type-taxonomy-term-reference {
        display: inline;
    }
}

.page-user {
    .profile {
        min-height: 240px;
        .field-name-field-title,
        .field-name-field-firstname,
        .field-name-field-lastname {
            font-size: 1.6em;
            font-weight: bold;
            font-family: 'News Cycle', sans-serif;
            margin-top: 0;
            text-rendering: optimizelegibility;
            /* clear: both; */
        }
        border: 1px solid $grey-lighter;
        @include border-radius(.5em);
        @include border-top-left-radius(0);
        padding: .5em;
        .user-picture {
            margin: -.5em 1em 1em -.5em;
        }

    }
    .profile2-work-profile {
        border: 1px solid $grey-lighter;
        @include border-radius(.5em);
        display: inline-block;
        text-align: center;
        padding: 1em;
        margin: .5em 0 1em 1em;
    }
}

.page-user-edit {
	.tabs {
		.secondary {
			clear:both;
		}

	}
}



.node-form input[type]:not([type=submit]):not([type=radio]):not([type=checkbox]),.node-form select,.node-form textarea {
  display: block;
  width: 100%;
  height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
  background-color: $input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid $input-border;
  border-radius: $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus;

  // Placeholder
  @include placeholder;

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    border: 0;
    background-color: transparent;
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: $input-bg-disabled;
    opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }

  // [converter] extracted textarea& to textarea.node-form input
}

// Reset height for `textarea`s
textarea.node-form input {
  height: auto;
}


.node-form th.field-label
{
min-width: 165px;
}
/******************************************
 *      Users / profile
 *
 * When viewed as referenced entity
 */
.view-users,
.field-type-entityreference {
    .profile {
        /* width: 25%; */
        min-width: 245px;
        max-width: 270px;
        margin: 0 0 .5em 0;
        
        min-height: 80px;
        padding: .5em 0 .5em .5em;
        border: 1px solid $grey-lighter;
        @include border-radius(.5em);
        @include border-top-right-radius(0);
        @include border-bottom-left-radius(0);
        .field-type-image,
        .user-picture {
            width: 50px;
            height: auto;
            padding: 0;
            float: right;
            margin: -.5em 0 0 0;
        }
        h3 { display: none; }
        a {
            font-weight: bold;
            font-size: 1.2em;
            color: $blue-dark;
        }
        dl {
            margin: 0;
        }
        article {
            display: inline-block;
        }
    }
    .field-name-field-affiliation {
        font-weight: bold;
    }
    .field-name-field-position {
        font-weight: normal;
        font-style: italic;
    }
    .field-name-field-position,
    .field-name-field-affiliation {
        font-size: 0.8em;
        color: $grey;
    }
    &:after { content: ""; display: block; float: none; clear: both; }
}


/******************************************
 *      Users view style
 */

/* .view-users { */
/*     .view-content>div { */
/*         /\* border: 1px solid $grey-light; *\/ */
/*         width: 32%; */
/*         /\* min-height: 150px; *\/ */
/*         float: left; */
/*         /\* padding: 1em; *\/ */
/*         /\* margin: 0 0 1em; *\/ */
/*         &:first-child { */
/*             clear: left; */
/*         } */
/*         &:nth-child(3n+2), */
/*         &:nth-child(3n+1) { */
/*             margin-right: 2%; */
/*         } */
/*     } */
/* } */


/******************************************
 *      Organizations style
 */

.view table.views-view-grid {
    width: 100%;
    /* .node-organization.node-teaser { */
    /* } */
}
.view-organizations-overview tr {
    height: 250px;
}

.node-organization {
    &.node-teaser {
        text-align: center;
        /* height: 220px; */
        /* width: 200px; */
        position: relative;
        overflow: hidden;
        .content {
            width: 100%;
            /* position: absolute; */
            /* bottom: 0; */
        }
        h2 {
            margin-bottom: 1em;
            font-size: 2em;
            font-weight: bold;
        }
        span {
            font-style: italic;
            font-size: .8em;
            padding-top: .2em;
        }
        a {
            color: $grey-light;
        }
        &:after {
            content: " ";
            visibility: visible;
        }
    }
}


.page-node.node-type-organization {
    #content {
        clear: both;
        position: relative;
    }
    .node-organization {
        min-height: 500px;
        .side {
            text-align: center;
            position: absolute;
            left: 0;
            width: 25%;
            .field-type-taxonomy-term-reference {
                display: inline;
            }
        }
        &>.content {
            @include background-image(linear-gradient(#dddddd, $grey-light 50%, #dddddd));
            background-size: 1px 90%;
            background-position: 0 90%;
            background-repeat: no-repeat;
            padding-left: 1em;
            margin-left: 25%;
            .field-name-body {
                padding: 1em 0;
            }
        }
        .field-label {
            min-width: 70px;
            color: $grey-light;
            font-style: italic;
            //font-size: .8em;
            font-weight: normal;
            margin-right: .2em;
            &:after {
                content: ": ";
            }
        }
        .field-name-field-organization-relationship {
            position: absolute;
            right: 0;
            top: 0;
            .field-items {
                text-align: right;
                .field-item {
                    display: block;
                    a {
                        background-color: $yellow;
                    }
                }
            }
        }
        .field-name-field-user > .field-items {
            &>.field-item {
                margin: 0 1em 0 0;
                float: left;
            }
        }
    }
}