
.field-name-field-facilitators {
    .user-picture {
        float: right;
    }
    :after { content: ""; display: block; float: none; clear: both; }
}


.view-users {

    .view-content>div {
        border: 1px solid $grey-light;
        width: 32%;
        height: 150px;
        float: left;
        padding: 1em;
        margin: 0 0 1em;
        &:nth-child(3n+2),
        &:nth-child(3n+1) {
            margin-right: 2%;
        }

        .user-picture {
            float: left;
            margin-right: 1em;
        }
    }
}




.node-organization {
    &.node-teaser {
        text-align: center;
        height: 220px;
        width: 200px;
        margin: 1em;
        position: relative;

        .content {
            position: absolute;
            width: 100%;
            bottom: 0;
        }
        .field-type-image {
            /* max-height: 175px; */
            overflow: hidden;
        }
        h2 {
            margin-bottom: 1em;
            font-size: 2em;
            //padding: 2em 0;
            font-weight: bold;
        }
        span {
            font-style: italic;
            font-size: .8em;
            padding-top: .2em;
        }
        a {
            color: $grey-light;
        }
        &:after {
            height: 1px;
            width: 100%;
            content: " ";
            visibility: visible;
            @include background-image(linear-gradient(to right, #dddddd, $grey-light 50%, #dddddd));
            position: absolute;
            bottom: 0;
        }
    }
}
