/* Landportal SCSS: Base size and positionning */
body {
    color: $text-color;
    margin: 0;
    font-family: sans-serif;
    font-size: 0.9em;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
    text-rendering: optimizelegibility;
    clear: both;
    a {
        text-decoration: none;
    }
}

#logo {
    float: left;
}




#header {
    border-bottom: .36em solid $green;
    .block-menu {
        h2 {
            display: none;
        }
        .contextual-links-wrapper {
            display: none;
        }
    }

    #block-system-user-menu {
        float: right;
    }
}

#footer {
    border-top: 1px solid $grey;
    height: 100px;
    margin-top: 5px;
}

#header,
#footer {
    padding: 5px 5em;
    height: 35px;
}





#highlighted {
    .block-menu {
        width: 100%;
        background-color: #EEE;
        /* li { */
        /*     float: left; */
        /*     width: 20%; */
        /* } */
        /* li.last { */
        /*     clear: right; */
        /* } */
    }
}

#breadcrumb {
    clear: both;
}
#main-content { width: 100%; clear: both; }

.clearfix {
    clear: both;
    //border-top: 1px dotted $blue-dark;
}

#sidebar-first {
    float: left;
}

#sidebar-second {
    float: right;
}

.view-content {
    clear: both;
}
