/**
 * Landportal SCSS
 * Base size and positionning
 */

/* Default elements */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: $text-color;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
    font-family: 'News Cycle', sans-serif;
    margin-top: 0;
    text-rendering: optimizelegibility;
    clear: both;

    a {
        text-decoration: none;
    }
}

h1 {
	font-size: 2.5em;
	font-weight: normal;
	color: #333;
	padding-bottom: 0.2em;
}

h2 {
	font-size: 1.2em;
	font-weight: normal;
}




.no-margin {
	margin: 0 !important;
}

/* Sizing */

/* @screen-xs-min 480px */
/* @screen-sm-min 768px */
/* @screen-md-min 992px */
/* @screen-lg-min 1200px */

@media(min-width:768px){
    #breadcrumb,
    #main-wrapper{ width:750px; }
}
@media(min-width:992px){

    #breadcrumb,
    #main-wrapper{ width:970px; }
}
@media(min-width:1200px){
    #breadcrumb,
    #main-wrapper{ width:1170px; }
}



#logo {
    float: left;
}

#header {
    .block-menu {
        h2 {
            display: none;
        }
        .contextual-links-wrapper {
            display: none;
        }
    }

    #block-system-user-menu {
        float: right;
    }
}

#footer {
    border-top: 1px solid $grey;
    height: 100px;
    margin-top: 5px;
}

#header,
#footer {
    padding: 0.3em 5em 0.1em;
    height: 44px;
}

#breadcrumb,
#main-wrapper {
    margin:     0 auto;
    padding:    0 15px;
    box-sizing: border-box;
}




#highlighted {
    .block-menu {
        width: 100%;
    }
    margin-bottom: 5px;
}

#breadcrumb {
    clear: both;
}
#main-content {
    width: 100%;
    clear: both;
}

.clearfix {
    clear: both;
    //border-top: 1px dotted $blue-dark;
}

#sidebar-first {
    float: left;
}

#sidebar-second {
    float: right;
}

.view-content {
    clear: both;
}


/**
 * Page specific
 */
.page-node,
.front {
    #header {
        border-bottom: .36em solid $green;
    }
}
